target/
src-gen/
xtend-gen/
bin/
.antlr*
.metadata/
*/plugin.xml_gen
.DS_Store
*.iml
.idea/
**/.settings/org.eclipse.*

dependency-reduced-pom.xml
bundles/org.opensmarthouse.core.id/userdata/uuid
bundles/org.openhab.core.model.*/META-INF/
bundles/org.opensmarthouse.core.model.item.ide/src-gen
bundles/org.opensmarthouse.core.model.item/src-gen
bundles/org.opensmarthouse.core.model.persistence.ide/src-gen
bundles/org.opensmarthouse.core.model.persistence/src-gen
bundles/org.opensmarthouse.core.model.script.ide/src-gen
bundles/org.opensmarthouse.core.model.sitemap.ide/src-gen
bundles/org.opensmarthouse.core.model.rule.ide/src-gen
bundles/org.opensmarthouse.core.model.rule/src-gen
bundles/org.opensmarthouse.core.model.script/src-gen
bundles/org.opensmarthouse.core.model.sitemap/src-gen
bundles/org.opensmarthouse.core.model.thing.ide/src-gen
bundles/org.opensmarthouse.core.model.thing/src-gen
bundles/org.opensmarthouse.core.model.item/model/generated
bundles/org.opensmarthouse.core.model.persistence/model/generated
bundles/org.opensmarthouse.core.model.rule/model/generated
bundles/org.opensmarthouse.core.model.script/model/generated
bundles/org.opensmarthouse.core.model.sitemap/model/generated
bundles/org.opensmarthouse.core.model.thing/model/generated
bundles/org.opensmarthouse.core.model.item/plugin.xml_gen
bundles/org.opensmarthouse.core.model.persistence/plugin.xml_gen
bundles/org.opensmarthouse.core.model.rule/plugin.xml_gen
bundles/org.opensmarthouse.core.model.script/plugin.xml_gen
bundles/org.opensmarthouse.core.model.sitemap/plugin.xml_gen
bundles/org.opensmarthouse.core.model.thing/plugin.xml_gen
features/karaf/*/src/main/history

Californium.properties

*.orig

generated/

