<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
  xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
    https://openhab.org/schemas/config-description-1.0.0.xsd">

  <config-description uri="auth:jaas">
    <parameter name="realmName" type="text" required="true">
      <label>Realm name</label>
      <description>
         Name of underlying JAAS realm used to verify user credentials.
         This parameter points to actual configuration which is used to authenticate user.
      </description>
      <default>openhab</default>
    </parameter>
  </config-description>

</config-description:config-descriptions>
